<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Information</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/images/info.png' %} '">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
</head>
<body>
<h1 class="text-primary text-center">Personal Info</h1>
    <a href="{% url 'form' %}">form</a>
    <a href="{% url 'gallery' %}">info</a>
    <a href="{% url 'home' %}">Gallery</a>
<p  class="container bg-info"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur facere id nisi perferendis quas, velit. Ad alias autem corporis cumque cupiditate dolores, fugit ipsam recusandae sint totam. Natus, nihil nulla!</span><span>Aperiam at, aut consectetur corporis culpa delectus dolorem ducimus ipsa ipsam magni nobis officia, omnis perferendis quam quis, recusandae soluta vero? Consectetur magnam maxime nam nulla tempore! Aliquam, provident ut.</span><span>Aliquid, aspernatur beatae cupiditate earum eligendi esse explicabo facilis, maiores quidem quo reiciendis rerum sint suscipit temporibus velit. Deleniti deserunt dolore ducimus iure mollitia neque numquam officiis quo ratione soluta.</span></p>
<table class="table table-striped table-dark table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Username</th>
    </tr>
    <tr>
        <td>4848945</td>
        <td>Ryan</td>
        <td>50</td>
        <td>jyrjwsy@hrh</td></tr>
    <tr>
        <td>4848945</td>
        <td>Ryan</td>
        <td>50</td>
        <td>jyrjwsy@hrh</td></tr>
    <tr>
        <td>4848945</td>
        <td>Ryan</td>
        <td>50</td>
        <td>jyrjwsy@hrh</td></tr>
    <tr>
        <td>4848945</td>
        <td>Ryan</td>
        <td>50</td>
        <td>jyrjwsy@hrh</td></tr>
    <tr>
        <td>4848945</td>
        <td>Ryan</td>
        <td>50</td>
        <td>jyrjwsy@hrh</td></tr>
</table>
</body>
</html>